body{
background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.glass{
background: rgba(255,255,255,0.1);
backdrop-filter: blur(15px);
padding:40px;
border-radius:20px;
}

input,button{
display:block;
margin:10px;
padding:10px;
width:200px;
}
